body {background-color:#FFF;color:#434343;margin:0}

/* */
div, img, form, table {margin:0;padding:0;border-width:0}
h1 {color:#FFF;font-size:12px;padding:5px 0 0 20px;font-weight:bold;font-family:Tahoma,sans-serif}

th{background:none}
ul{list-style-type:square}

label{color:#444}
input[type="checkbox"], input[type="text"], input[type="password"], textarea, select {border:solid 1px #CCC;background-color:#FFF;padding:2px;margin:2px 0;color:#444}
input.tiny, input.time{width:64px}
input.small, input.date{width:80px}
textarea.huge{width:600px;height:300px}
input.datetime{width:160px}
input[type="text"].required, input[type="password"].required, textarea.required, select.required {background-color:#FFD}
input[disabled], textarea[disabled], select[disabled]{background-color:#DDD !important;color:#999 !important}

input.textValue, select.textValue, textarea.textValue{background:none !important;border:none !important;margin:3px 1px}
input.error, select.error, textarea.error{background-color:#FDD !important;border:solid 1px #F00 !important;padding:2px;margin:2px 0}

#info h1{color:#000;font-size:24px;padding:8px 0 0 0}
#info h1 small{font-size:11px}
#info .user-info{float:right;margin-top:12px}

div.pages{border-width:0 1px;padding:12px 10px;font-weight:bold}
div.pages span{padding: 4px 8px;background:#FA0;margin-left:10px;color:#FFF}
div.pages a{margin-left:10px;text-decoration:none}

#filter{margin-bottom:4px}

#tasks table{border-collapse:collapse}
#tasks table td{border:solid 1px #CCC;background-color:#FFF;padding:2px 6px}
#tasks table tr.important td{background-color:#FDD !important}
#tasks table tr.new td{background-color:#DFD !important}
#tasks table tr.done td{background-color:#DDD !important}
#tasks table thead tr td{font-weight:bold;background-color:#DDF;padding:8px;text-align:center}
