{% if 0 == p:getTotal() then %}
	Нет задач удовлетворяющих запросу.
{% else %}
	{% local pageNav = include("_pagenav.html", {func="showTasksPage"}) %}
	{{ pageNav }}
	<table><thead><tr><td>!</td><td>Название</td><td>Статус</td><td>Исполнитель</td><td>Срок</td><td>Автор</td></tr></thead><tbody>
	{% for _, task in tasks() do %}
	<tr
		{% if task:isDone() then %}
			class="done"
		{% elseif task.important == 1 then %}
			class="important"
		{% elseif task:isNew() then %}
			class="new"
		{% end %}
	>
		<td>{{ safe(task:getField "important":asAjax()) }}</td>
		<td style="white-space:nowrap"><a href="/task/{{ task.pk }}"><img src="/images/help_16.png" width="16" height="16" alt="" /></a>{{ safe(task:getField "title":asAjax()) }}{% if task.createdBy == user then %} <a href="javascript:deleteTask({{task.pk}});"><img src="/images/remove_16.png" width="16" height="16" alt="Удалить задачу" /></a>{% end %}</td>
		<td>{{ safe(task:getField "status":asAjax()) }}</td>
		<td>{{ safe(task:getField "assignedTo":asAjax()) }}</td>
		<td style="white-space:nowrap">{{ safe(task:getField "timeToBeDone":asAjax()) }}{{ safe(task:getField "dateToBeDone":asAjax()) }}</td>
		<td>{{ task.createdBy }}</td>
	</tr>
	{% end %}
	</tbody></table>
	{{ pageNav }}
{% end %}
{{ safe(debugger) }}
