<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="author" content="Artyom Shein">

	<title>{{ capitalize(tr(title or "")) }} - {{ capitalize(tr "tasker") }}</title>

	<link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/css/blueprint/print.css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/start/jquery-ui-1.7.2.custom.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" media="screen, projection" />
	<script type="text/javascript" language="JavaScript" src="/js/luv/luv.js"></script>
	<script type="text/javascript" language="JavaScript" src="/js/ui/i18n/ui.datepicker-ru.js"></script>
</head>

<body>

<div class="container">

<div id="info">
	<div class="user-info">{% if user then %}{{ capitalize(tr "you are") }} {{ user }} [<a href="/logout">{{ tr "logout" }} &rarr;</a>]{% else %}<a href="javascript:void(0)" onclick="alert('Обращайся к администратору.')">{{ capitalize(tr "forgot password") }}</a> | <a href="/registration">{{ capitalize(tr "register") }}</a>{% end %}</div>
	<h1>{{ capitalize(tr "tasker") }}&trade; <small>{{ tr "version" }} {{ version }}</small></h1>
</div>

{[ section "content" ]}
{[ endSection() ]}
<a href="/help">{{ capitalize(tr "help") }}</a> | {{ capitalize(tr "copyright") }} &copy; 2009 {{ capitalize(tr "Artyom Shein") }}.
</div>
{{ safe(debugger) }}
</body>
</html>
