<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="author" content="Artyom Shein">

	<title>{{ title and title:tr():capitalize() or "" }} - {{ ("tasker"):tr():capitalize() }}</title>

	<link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/css/blueprint/print.css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/start/jquery-ui-1.7.2.custom.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" media="screen, projection" />
	<script type="text/javascript" language="JavaScript" src="/js/luv/luv.js"></script>
	<script type="text/javascript" language="JavaScript" src="/js/ui/i18n/ui.datepicker-ru.js"></script>
</head>

<body>

<div class="container">

<script type="text/javascript" language="JavaScript">//<![CDATA[
	function setLang (lang)
	{
		jQuery.cookie("language", lang);
		document.location = document.location;
	}
//]]></script>

<div id="info">
	<div class="user-info">
		{% if user then %}{{ ("you are"):tr():capitalize() }} {{ user }} [<a href="/logout">{{ ("logout"):tr() }} &rarr;</a>]{% else %}<a href="javascript:void(0)" onclick="alert('Call the administrator.')">{{ ("forgot password"):tr():capitalize() }}</a> | <a href="/sign_up">{{ ("sign up"):tr():capitalize() }}</a>{% end %}
		<div id="langBar" style="text-align:right">
			{% if luv:i18n():lang() then %}
				<a href="javascript:setLang('en')">In English</a>
			{% else %}
				<span class="active">In English</span>
			{% end %} |
			{% if "ru" ~= luv:i18n():lang() then %}
				<a href="javascript:setLang('ru')">По-русски</a>
			{% else %}
				<span class="active">По-русски</span>
			{% end %}
		</div>
	</div>
	<h1>{{ ("tasker"):tr():capitalize() }}&trade; <small>{{ ("version"):tr() }} {{ version }}</small> {{ ("and"):tr() }} <a href="/todo/">{{ ("ToDo list"):tr() }}</a></h1>
</div>

{[ section "content" ]}
{[ endSection() ]}
<a href="/help">{{ ("help"):tr():capitalize() }}</a> | {{ ("copyright"):tr():capitalize() }} &copy; 2009 {{ ("Artyom Shein"):tr():capitalize() }}.
</div>
{{ safe(debugger) }}
</body>
</html>
