{[ extends "base.html" ]}

{[ section "content" ]}
<a href="/">&larr; {{ capitalize(tr"back to main") }}</a>
<div id="accordion">
	<h1><a href="#">{{ capitalize(tr"user's manual") }}</a></h1>
	<div>
		<h2>Кратко</h2>
		<ul>
			<li>вносить изменения в задачи может каждый;</li>
			<li>удалить задачу может только её автор;</li>
			<li>задачи помеченные как "приоритетные" выделены в списке красным цветом;</li>
			<li>фильтрация: пункт "только то, что касается меня" позволяет ограничить выбор задачами которые были созданы Вами или в которых Вы назначены исполнителем;</li>
			<li>новыми задачами считаются задачи имеющие пустой статус, статус "новая", "новое" и т.п.</li>
			<li>выполненными задачами считаются задачи имеющие статус "сделано", "готово", "выполнено" и т.п.</li>
		</ul>
		<h2>Планируется в следующих версиях</h2>
		<ul>
			<li>оповещение по эл. почте с настройками периодичности оповещения;</li>
			<li>автоматические отчеты за указанный период;</li>
		</ul>
		<h2>Изменения по версиям</h2>
		<h3>Версия 0.4alpha</h3>
		<ul>
			<li>первая публичная версия;</li>
		</ul>
	</div>
</div>
<script type="text/javascript" language="JavaScript">//<![CDATA[
	$("#accordion").accordion({autoHeight: false});
//]]></script>
{[ endSection() ]}
