{[ extends "base.html" ]}

{[ section "content" ]}
<script type="text/javascript" language="JavaScript">//<![CDATA[
	function showErrors (errors)
	{
		$.each(errors, function (i, error) { alert(error); });
	}
	function onTasksFilter (data)
	{
		if ("ok" == data.result)
			showTasksPage();
		else
			showErrors(data.errors);
	}
	function onLogsFilter (data)
	{
		if ("ok" == data.result)
			showLogsPage();
		else
			showErrors(data.errors);
	}
	function onTaskCreate (data)
	{
		if ("ok" == data.result)
		{
			showTasksPage();
			showLogsPage();
			alert("Задача успешно создана.");
			$("#createTask").clearForm();
			$("#accordion").accordion("activate", 1);
		}
		else
			showErrors(data.errors);
	}
	function deleteTask (id)
	{
		if (!confirm("Подтверждаете УДАЛЕНИЕ задачи?"))
			return false;
		$.post("/ajax/task/delete.json", {id: id, "delete": "Delete"}, function (data) {
			if ("ok" == data.result)
				showTasksPage();
			else
				showErrors(data.errors);
		}, "json");
	}
	function onOptionsSave (data)
	{
		if ("ok" == data.result)
		{
			showTasksPage();
			alert("Настройки успешно сохранены.");
			$("#optionsNewPassword").val("");
			$("#optionsNewPassword2").val("");
			$("#optionsPassword").val("");
			$("#accordion").accordion("activate", 1);
		}
		else
			showErrors(data.errors);
	}
//]]></script>
<div id="accordion">
	<h1><a href="#">{{ capitalize(tr "new task") }}</a></h1>
	<div>
		{% if createTaskForm:submitted() then %}
			{{ include("_msgs-and-errors.html", {form=createTaskForm}) }}
		{% end %}
		{{ safe(createTaskForm) }}
	</div>
	<h1><a href="#">{{ capitalize(tr "tasks list") }}</a></h1>
	<div>
		{{ safe(tasksFilterForm) }}
		<div id="tasks"></div>
		<script type="text/javascript" language="JavaScript">//<![CDATA[
			function showTasksPage (page)
			{
				page = page || $.cookie("tasksPage") || 1;
				$.cookie("tasksPage", page, 60);
				$.post("/ajax/task/list", {find: "Find", page: page}, function (data)	{ $("#tasks").html(data); }, "html");
			}
			$("textarea.resizable").resizable();
			showTasksPage($.cookie("tasksPage") || 1);
		//]]></script>
	</div>
	<h1><a href="#">{{ capitalize(tr "log of changes") }}</a></h1>
	<div>
		{{ safe(logsFilterForm) }}
		<div id="logs"></div>
		<script type="text/javascript" language="JavaScript">//<![CDATA[
			function showLogsPage (page)
			{
				page = page || $.cookie("logsPage") || 1;
				$.cookie("logsPage", page, 60);
				$.post("/ajax/log/list", {find: "Find", page: page}, function (data) { $("#logs").html(data); }, "html");
			}
			showLogsPage();
		//]]></script>
	</div>
	<h1><a href="#">{{ capitalize(tr "reports") }}</a></h1>
	<div>
		<a href="/report">{{ capitalize(tr "full report") }}</a>
	</div>
	<h1><a href="#">{{ capitalize(tr "user's options") }}</a></h1>
	<div>
		{{ safe(optionsForm) }}
	</div>
</div>
<script type="text/javascript" language="JavaScript">//<![CDATA[
	$("#accordion").accordion({active: 1, autoHeight: false});
//]]></script>
{[ endSection() ]}
