{[ extends "base.html" ]}

{[ section "content" ]}
<a href="/">&larr; {{ ("back to main"):tr():capitalize() }}</a>
<div id="accordion">
<h1><a href="#">{{ ("sign up"):tr():capitalize() }}</a></h1>
<div>
	{{ include("_msgs-and-errors.html", {form=registrationForm}) }}
	{{ safe(registrationForm) }}
</div>
</div>
<script type="text/javascript" language="JavaScript">//<![CDATA[
	$("#accordion").accordion({active: 0, autoHeight: false});
	$("textarea.resizable").resizable();
//]]></script>
{[ endSection() ]}
