{[ extends "base.html" ]}

{[ section "content" ]}
<script type="text/javascript" language="JavaScript">//<![CDATA[
	function onTaskSave (data)
	{
		if ("ok" == data.result)
			alert("{{ ("Task updated successfully."):tr() }}");
		else
			showErrors(data.errors);
	}
//]]></script>
<a href="/">&larr; {{ ("back to main"):tr():capitalize() }}</a>
<div id="accordion">
<h1><a href="#">{{ ("task"):tr():capitalize() }} "{{ task }}"</a></h1>
<div id="task">
	{% if task.createdBy == user or task.assignedTo == user then %}
		{% if editTaskForm:submitted() and not editTaskForm:valid() then %}
			{{ include("_msgs_and_errors.html", {form=editTaskForm}) }}
		{% end %}
		{{ safe(editTaskForm) }}
	{% else %}
		<h2>{% if task.important then %}<strong>!</strong> {% end %}{{ task.title }} <small>({{ task.status }})</small></h2>
		<div id="taskOwners">{{ task.createdBy }}{% if task.assignedTo then %} &rarr; {{ task.assignedTo }}{% end %}</div>
		{% if task.timeToBeDone or task.dateToBeDone then %}<div id="taskTerm">{{ ("term"):tr():capitalize() }}: {{ task:field"timeToBeDone" }} {{ task:field"dateToBeDone" }}</div>{% end %}
		<div id="taskDescription">{{ (task.description or ""):replace("\n", "<br />") }}</div>
	{% end %}
</div>
</div>
<script type="text/javascript" language="JavaScript">//<![CDATA[
	$("#accordion").accordion({active: 0, autoHeight: false});
	$("textarea.resizable").resizable();
//]]></script>
{[ endSection() ]}
