{[ extends "base.html" ]}

{[ section "content" ]}
<a href="/">&larr; На главную</a>
<div id="accordion">
<h1><a href="#">Задача "{{ task }}"</a></h1>
<div>
	{% if editTaskForm:isSubmitted() and not editTaskForm:isValid() then %}
		{{ include("_msgs-and-errors.html", {form=editTaskForm}) }}
	{% end %}
	{{ safe(editTaskForm) }}
</div>
</div>
<script type="text/javascript" language="JavaScript">//<![CDATA[
	$("#accordion").accordion({active: 0, autoHeight: false});
	$("textarea.resizable").resizable();
//]]></script>
{[ endSection() ]}
